<html>
<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Character encoding scheme -->
		<meta charset="UTF-8"> 
		<title>Secure File System</title>
		<style type="text/css">
			a:active,a:hover,a:visited,a:link {
				text-decoration: none;
				color: black;
			}
	body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
	.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
	.fa-exclamation {font-size:300px}
		</style>
	</head>
	<body>
		
		<header class="w3-container w3-black w3-center" style="padding:40px 16px;">
  		<h1 class="w3-margin w3-jumbo">Secure File Transfer</h1>
		</header>
			<!-- <br><br> -->
			
		<div class="w3-row-padding w3-white w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      
    </div>

    <div class="w3-twothird">
      <h1>Instructions</h1>

      <h5 class="w3-text-black">The user gets to choose from one of the following options:
      	<br>
        <br>1. He gets to upload the file to the cloud in a secured manner
        <br>2. He gets to choose from thelist of all the different files that are present on the cloud provided he has the required credentials for decrypting the file.
        <br>3. He can also download public key associated with the user with whom the file transfer is to take place.
    	<br>4. To upload his file to cloud storage the user needs to be registered so that his file can be shared with the other desired person in an instant.</h5>
    </div>
  </div>
</div>		


	<div class="w3-container w3-black w3-center  w3-padding-64">
		<center>
				<table>
				<tr>
					<td style="padding: 1px"><a href="upload-file"><button class="w3-button w3-blue w3-padding-large w3-large w3-margin-top" >file-upload</button></a></td>
					<td style="padding: 1px"><a href="file-directory"><button class="w3-button w3-blue w3-padding-large w3-large w3-margin-top" >file-directory</button></a></td>
					<td style="padding: 1px"><a href="public-key-directory"><button class="w3-button w3-blue w3-padding-large w3-large w3-margin-top">download-public-key</button></a></td>
					<td style="padding: 1px"><a href="register"><button class="w3-button w3-blue w3-padding-large w3-large w3-margin-top">register-user</button></a></td>
				</tr>
			</table>

		</center>

	</div>


	</body>
</html>